
.noto-bold{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  font-family: inter-regular;
  margin:auto 150px;
}
/* nav styles */
nav{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  height: 82px;
  width: 135px;
}
.nav-icons{
  display: flex;
  align-items: center;
  gap: 48px;
}
.nav-icon{
  text-decoration: none;
  color: #8987a1;
}
#home{
  font-weight: bold;
  color: #252432;
}
.cart{
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-img{
  height: 24px;
  width: 24px;
}
/* Baneer styles */
.header-banner{
  display: flex;
  margin-top: 120px;
}
.banner-title{
  font-family: noto-bold;
  font-size: 3.5em;
  line-height: 1.1;
  color: #e95a08;
}
#always{
  color: #000000;
}
.banner-description{
  font-size: 1.1em;
  color: #00000050;
}
/* Our plants */
.plant-collection{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 30px;
}
.plants-title{
  font-family: noto-bold;
  font-size: 2.45em;
  text-align: center;
}
#our{
  color: #e95a08;
}
.plants-description{
  text-align: center;
  margin: auto 276px;
  margin-bottom: 29px;
  font-size: 22px;
  color: #00000050;
}
.plant-name{
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  color: #111111;
}
.price{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #111111;
}
.btn{
  height: 50px;
  width: 270px;
  background-color: #e95a08;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  border: none;
}
/* flower-plants-lover section */
.flower-plants-lover{
  display: flex;
  margin-top: 210px;
  justify-content: space-between;
}
/* .flower{
  width: 540px;
  height: 597px;
} */
 .plant-title{
  font-family: noto-bold;
  font-size: 50px;
 }
 .flower-plants-lover li{
  font-size: 22px;
  color: #00000050;
 }
 /* Deal section */
 .latest-deal h3{
  text-align: center;
  font-family: noto-bold;
  font-size: 50px;
 }
 #latest{
  color: #e95a08;
 }
 .latest-deal p{
  text-align: center;
  font-size: 22px;
  color: #00000050;
 }
 /* Offer Section */
.offers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: 80px;
}
.bloom{
  background-image: url(assets/deal-bloom.png);
}
.ana{
  background-image: url(assets/deal-ana.png);
}
.zabo{
  background-image: url(assets/deal-zabo.png);
}
.bloom-ana {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.bloom, .ana, .zabo {
    background-size: cover;
    background-position: center;
    border-radius: 22px;
    background-color: #00000040;
    padding: 40px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}    
.offer{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}
.shop{
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}